
<div class="off-shore-main">
  <div class="container">
    <div class="position-relative overflow-hidden offshoring-container rounded-custom section-top-inner-space section-bottom-outer-space">
      <div class="row justify-content-center">
        <div class="col-lg-7 col-md-8">
          <div class="subscribe-info-wrap text-center position-relative z-2">
            <div class="section-heading">
              <h4 class="h5 text-warning fw-7"> Hire Experienced Offshore Staff For Your Digital Project.</h4>
              <h1 class="fw-8 my-4 my-lg-3 section-title"> Offshore Staffing
              </h1>
              <p class="tagline-para text-light-dimmed">
                Hire Best Talents To Dominate Your Competition
              </p>
            </div>
            <div class="form-block-banner mw-60 m-auto mt-5"><a routerLink="hiring" routerLinkActive="router-link-active"  class="btn btn-primary py-3">Find your Next Hire</a></div>
            <ul class="nav justify-content-center subscribe-feature-list mt-4 gap-4 text-light-dimmed">
              <li class="nav-item"><span><i class="far fa-check-circle text-primary me-2 "></i>Scale Teams With Ease</span></li>
              <li class="nav-item"><span><i class="far fa-check-circle text-primary me-2"></i>Save Time and Money</span></li>
              <li class="nav-item"><span><i class="far fa-check-circle text-primary me-2"></i>Find Talent Matched Your Need</span></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="bg-circle rounded-circle circle-shape-3 position-absolute bg-dark-light left-5"></div>
      <div class="bg-circle rounded-circle circle-shape-1 position-absolute bg-warning right-5"></div>
    </div>
  </div>
</div>
