// offshore styling
.offshore-staffing{
    padding: 50px 0px 0px 0px;
    h2{
        font-size: 40px;
        color: #151D21;
        font-weight: 700;
    }
}
.talent-container {
    background-color: #1583e9;
    padding: 1.5rem;
    border-radius: 15px;
    color: white;
    text-align: center; 
}

.talent-inner {
    padding: 1rem 3rem;
}

.talent-card .t-sub,
.talent-card .t-sub,
.talent-card .t-heading {
    margin: 0;
}

.talent-title {
    border-top: 2px solid #262b3f;
    border-bottom: 2px solid #262b3f;
    padding: 10px 0px;
    max-width: 600px;
    margin: 0 auto;
    font-size: 26px;
    font-weight: 700;
}

.t-icon {
    width: 60px;
    height: 60px;
    color: white;
    display: flex;
    justify-content: center;
    border-radius: 16px;
    border: 1px solid;
    margin: 4px;
}

.technical-staff {
    background: orange;
    border-color: orange;
}

.timeMoney {
    background: #01c851;
    border-color: #01c851;
}

.t-list {
    background: #0fcefb;
    border-color: #0fcefb;
}

.t-icon img {
    width: 35px;
}

.t-heading {
    font-weight: 600;
    font-size: 20px;
}

.talent-subtitle {
    font-size: 20px;
    font-weight: 500;
}

.t-sub {
    font-size: 16px;
}

.t-sub, .talent-subtitle {
    font-weight: 500;
}

.talent-subtitle {
    margin-bottom: 2rem;
}

.t-border {
    border-radius: 16px;
    border: 1.9px solid;
}

.firstBox {
    border-color: orange;
}

.secBox {
    border-color: #01c851;
}

.lastBox {
    border-color: #0fcefb;
}

.talent-footer a {
    padding: 16px 56px;
    font-size: 18px;
    cursor: pointer;
    color: #0D45B6;
}

    .talent-footer a:hover {
        background: #0D45B6 !important;
        border: 1px solid #fff !important;
        color: white;
    }

.talent-card {
    width: 330px;
}

.technical-staff img {
    width: 28px !important;
}
.talent-footer{
    .btn-rounded{
        color: #1583e9 !important;
        &:hover{
            color: #fff !important;
        }
    } 
}