<app-header-banner [headerdata]="headertagData"></app-header-banner>
<div class="core-values-section section-top-inner-space section-bottom-inner-space">
    <div class="container">
        <div class="align-items-center d-flex row mb-5">
            <div class="col-lg-8 col-12">
                <h6 class="mb-2 text-primary fw-6">OUR CORE VALUES</h6>
                <h2 class="section-title fw-4">
                    We dedicatedly master the power of technology in bespoke ways for our customers, guided by three
                    core values:
                </h2>
            </div>
        </div>

        <div class="row mb-3 align-items-stretch core-value-points">
            <div class="col-md-4">
                <div class="inner-box">
                    <h4 class="text-primary fw-6">Integrity</h4>
                    <p>
                        Embody dependability, honesty, and transparency.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="inner-box">
                    <h4 class="text-primary fw-6">Innovation</h4>
                    <p>
                        Act courageously, experiment, and make bold decisions.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="inner-box border-0">
                    <h4 class="text-primary fw-6">Dedication</h4>
                    <p>
                        Commit to tirelessly delivering precision and perfection.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>