.header_nav_manu {
    background: transparent;
    z-index: 444;
    position: relative;
    margin-bottom: -91px;
    border-bottom: 1px solid #ffffff57;
}

.logo img {
    width: 100%;
}

.logo_img img {
    max-width: 150px;
    padding: 10px;
    margin: 5px 0px;
}

.header-menu {
    display: flex;

}

.header-menu ul {
    list-style: none;
    display: inline-block;
}

.header-menu>ul>li {
    display: inline-block;
}

.header-menu>ul>li>a {
    display: block;
    margin: 20px 16px;
    transition: .5s;
    position: relative;
    color: #fff;
    padding: 0 0.25rem;
    text-transform: capitalize;
    font-size: 0.875rem;
    line-height: 1rem;
    font-weight: 500;
    background: linear-gradient(to right, #1583e9, #1583e9, 50%, #fff 50%);
    -webkit-text-fill-color: white;
    background-clip: text;
    background-size: 200%, 100%;
    background-position: 100%;
    text-decoration: none;
}

ul.nav_scroll li i {
    font-size: 11px;
    display: inline-block;
}

.header-menu>ul>li>a:hover {
    background-position: 0%;
}

/* sub menu style */
.header-menu ul .sub-menu {
    position: absolute;
    left: 0;
    top: 130%;
    text-align: left;
    background: #fff;
    margin: 0;
    z-index: 1;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    transition: .5s;
    opacity: 0;
    visibility: hidden;
    border-top: 2px solid #1583e9;
}

.header-menu ul li:hover>.sub-menu {
    opacity: 1;
    visibility: visible;
    top: 100%;
    z-index: 9;
}

.header-menu ul .sub-menu li {
    position: relative;
}

.header-menu ul .sub-menu li a {
    display: block;
    margin: 0;
    letter-spacing: normal;
    text-transform: capitalize;
    transition: .1s;
    visibility: inherit !important;
}

/* sub menu 2 */
.header-menu ul .sub-menu .sub-menu {
    left: 100%;
    top: 130%;
    opacity: 0;
    visibility: hidden;
}

.header-menu ul .sub-menu li:hover>.sub-menu {
    opacity: 1;
    visibility: visible;
    top: 0%;
}

.header-menu ul .sub-menu .sub-menu li {
    position: relative;
}

.header_nav_manu.sticky a.dtbtn:hover {
    color: #fff !important;
}

.white .header-button .dtbtn {
    background: #423e6d;
    border-color: #423e6d;
}

.header-menu li a:hover:before {
    width: 100%;
}

.header_nav_manu.sticky .logo_img {
    display: none;
}

.main_sticky {
    display: none;
}

.header_nav_manu.sticky .main_sticky {
    display: inherit;
}

.header_nav_manu.sticky a.dtbtn:hover {
    color: #43baff;
}

.col-megamenu {
    background: #F0F0F0;
    padding: 1.5rem 2rem 2rem 2rem;
    height: 100%;
}

.readmore-btn {
    font-size: 12px;
    color: #1583e9;
    position: relative;
    text-transform: uppercase;
    text-decoration: none;

    &::before {
        content: '';
        position: absolute;
        bottom: -5px;
        width: 35%;
        height: 1px;
        background: #1583e9;
        transition: all 0.25s linear;
    }

    i {
        transform: rotate(-40deg);
    }
}

.sub-menu-li a {
    text-decoration: none;
    line-height: 2;
    color: black;
    font-weight: 600;
    font-size: 20px;

    &:hover {
        color: #1583e9;
    }
}

.list-unstyled {
    padding: 1rem 2rem 1rem 3rem;
}

.grey-bg-sapce {
    padding: 0rem 0rem 0rem 7rem;
}

.media-img h5 {
    font-size: 16px;
}

.sub-list a {

    color: #262b3f;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2;
    text-decoration: none;
    font-weight: 400;

    &::before {
        content: '';
        position: absolute;
        bottom: -2px;
        height: 1.2px;
        background: #1583e9;
        transition: all 0.2s ease-in-out;
    }

    &:hover {
        color: #1583e9;
    }

    &:hover:before {
        width: 100%;
    }
}

.sub-list {
    i {
        color: #1538e9;
    }
}