<div class="dev-background position-relative">
    <div class="background-overlay"></div>
    <div class="container banner-text d-flex align-items-center">
        <div class="mt-5">
            <p class="text-label mb-3 text-warning">[ About Saufik ]</p>
            <h1 class="font-30">We're a software engineering company that <br> solves complex technical problems</h1>
            <p>And we love doing it.</p>

        </div>
    </div>
</div>
<div class="section-top-inner-space section-bottom-inner-space">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-6">
                <h2 class="section-title">Saufik's Story</h2>
                <div class="d-flex my-4 align-items-center">
                    <img src="../../../../assets/images/flag-icon.svg" alt="">
                    <p class="mb-0 mx-3 fw-7">Founded in 2007</p>
                </div>
                <div>
                    <p class="paragraph1"><strong>Saufik</strong> was established in 2007 by four tech-savvy
                        enthusiasts. At that time,
                        we mainly focused on clients’ projects providing great code and delivering features our
                        customers requested. Even though we had little experience in product management back then, we
                        always wanted to participate in all stages of a product life cycle.
                        <br><br>To gain the necessary knowledge, we consulted market leaders in Silicon Valley like
                        Pivotal Labs, ThoughtBot and Zurb. That experience took us to a new level and let us create
                        successful solutions for ourselves and our clients.
                        <br><br>Today <strong>Saufik</strong> is a Product Studio with two main focuses – services and
                        products. These
                        directions are integrally connected and complement each other. For us, it doesn’t matter what
                        type of project we work on. We apply the same approaches and tools to all of them to accumulate
                        and share knowledge and improve our craft with each new case.
                    </p>

                </div>
            </div>
            <div class="col-lg-5">
                <div class="section-heading">
                    <h2 class="section-title">What’s Next?</h2>
                    <p class="paragraph1 mt-4">“The experience and knowledge we gained working on the clients’ solutions
                        laid the foundation for the Railsware products. Started as simple in-house tools, Mailtrap,
                        Coupler.io, and Jira Smart Checklist now are commercial products with a very bright future.
                        <br><br>Our next big goal is to turn Railsware Product Studio into a $10 Billion venture by
                        doing what we do best - crafting meaningful products.”
                    </p>
                </div>
                <div class="ceo-detail d-flex align-items-center">
                    <img src="../../../../assets/images/ceo-img.png" alt="">
                    <div class="mx-3">
                        <h2 class="fw-6">Yaroslav Lazor</h2>
                        <p class="paragraph1">CEO @Railsware</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-grey section-top-inner-space section-bottom-inner-space">
    <div class="container">
        <div class="d-flex align-items-center justify-content-center flex-column">
            <h2 class="section-title text-center">Our Mission</h2>
            <p class="paragraph2 mb-0">Influence the way companies are managed through the</p>
            <p class="paragraph2"> proven approaches and the products we build.</p>
            <p class="paragraph2 mb-0">Expand Saufik's formula to the industry with leverage</p>
            <p class="paragraph2">of reputation and market visibility.</p>
        </div>
        <div class="d-flex justify-content-center align-items-center">
            <img class="w-100" src="../../../../assets/images/corporate-values-img.png" alt="">
        </div>
    </div>

</div>
<div class="bg-grey corporate-values">
    <div class="container wrapper">
        <div class="list-box-inner mx-5">
            <div class="list-box-aside">
                <div class="list-box-aside-content">
                    <h2 class="list-box-title"> Saufik corporate <span>values</span> </h2>
                    <div class="list-box-subtitle paragraph1 mb-4">From the early days, we treated the development
                        culture as the
                        foundation of our business. Over the years, we've created a formula that includes such key
                        aspects</div> <a class="enlarged-link inform-link" href="#">More details and values
                        here</a>
                </div>
            </div>
            <ul class="list-box-list">
                <li class="list-box-item">
                    <div class="list-box-item-title">Quality</div>
                    <div class="list-box-item-text">We value quality over quantity, and these are no buzzwords for us.
                        We spend the necessary amount of time on a task and ensure we've found the best possible
                        solution for it.</div>
                </li>
                <li class="list-box-item">
                    <div class="list-box-item-title">Life-Work Balance</div>
                    <div class="list-box-item-text">Work is just a small part of your life. All the rest belongs to
                        you, your family, interests, and hobbies. We understand and respect that.</div>
                </li>
                <li class="list-box-item">
                    <div class="list-box-item-title">Unlimited Growth</div>
                    <div class="list-box-item-text">You are free to grow in any competency you feel like to make your
                        job better. We don’t limit but encourage you to do so.</div>
                </li>
                <li class="list-box-item">
                    <div class="list-box-item-title">Ownership</div>
                    <div class="list-box-item-text">There are no unimportant tasks at Railsware. We understand the end
                        value of each project, clearly divide roles and responsibilities, and take full ownership for
                        it.</div>
                </li>
                <li class="list-box-item">
                    <div class="list-box-item-title">Transparency</div>
                    <div class="list-box-item-text">Open feedback, desire to find common grounds, understanding of what
                        we do and why - are the foundation for the transparent relationships with our teammates and
                        clients.</div>
                </li>
                <li class="list-box-item">
                    <div class="list-box-item-title">Respect and empathy</div>
                    <div class="list-box-item-text">We are a multinational and multicultural community spread over 15
                        different countries. Empathy and Respect help us socialize and build strong interpersonal
                        connections within the team.</div>
                </li>
                <li class="list-box-item">
                    <div class="list-box-item-title">Master our craft</div>
                    <div class="list-box-item-text">We build our mastery in all we do, implement it in tailored and
                        highly effective solutions, and then share our insights with the community.</div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="links-box">
    <div class="links-box-wrap"> <a class="links-box-item links-box-item_services" href="#">
            <div class="links-box-bg">
                <img src="../../../../assets/images/services.webp" alt="">
                <div class="blue-overlay"></div>
            </div>
            <div class="links-box-content">
                <h3 class="links-box-title">Services</h3>
                <div class="links-box-subtitle paragraph1 text-white">If you're an entrepreneur looking for a tech
                    partner, <br> we will
                    help you to succeed with your product</div>
            </div>
        </a> <a class="links-box-item links-box-item_team" href="#">
            <div class="links-box-bg">
                <img src="../../../../assets/images/products.webp" alt="">
                <div class="blue-overlay"></div>
            </div>
            <div class="links-box-content">
                <h3 class="links-box-title">Products</h3>
                <div class="links-box-subtitle paragraph1 text-white">If you’re an investor or Railsware products user,
                    check out
                    Mailtrap, Coupler, and SmartChecklist</div>
            </div>
        </a> </div>
</div>