.dev-background {
    background-image: url(../../../../assets/images/career-banner.svg);
    background-repeat: no-repeat;
    height: 70vh;
    background-position: 0 100%;

    img {
        border-radius: 1rem;
    }
}

.background-overlay,
.blue-overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.background-overlay {
    background: linear-gradient(90deg, rgba(1, 75, 245, 0.71), rgba(3, 63, 206, 0.66)) !important;
}

.banner-text {
    position: relative;
    width: 100%;
    height: 100%;

    h1 {
        color: #fff;
        font-size: 44px;
    }

    p {
        font-size: 20px;
        color: #fff;
    }
}

.job-info-list-ul {
    li {
        margin-right: 15px;
        color: #d9d9d9;
    }

    i {
        margin-right: 6px;
    }
}

.annual-salary-wrap {
    span {
        font-size: 2.5rem;
    }

    .btn-rounded {
        color: #1683ea;
        font-size: 20px;

        &:hover {
            border-color: #0044e3;
            background-color: #0044e3;
            color: #fff;
        }
    }
}

.job-detail-para {
    color: #575757;
    line-height: 1.75;
}

.job-list {
    li {
        font-size: 15px;
        padding-left: 6px;
        margin-bottom: 15px;
        color: #575757;
    }
}

.job-img {
    img {
        border-radius: 1rem;
    }
}

.job-card {
    padding: 3rem;
    border-radius: 1rem;
    position: sticky;
    top: 100px;
    transition: all .3s ease-in-out;

    .btn-rounded {
        border: 1px solid #1683ea;
        background-color: #1683ea;
        color: #fff;

        &:hover {
            border: 1px solid #1683ea;
            background-color: #fff;
            color: #1683ea;
        }
    }
}

.job-card-list {
    li {
        list-style-type: none;
        display: flex;
        font-size: 16px;
        margin-bottom: 20px;
        align-items: baseline;
    }

    i {
        margin-right: 15px;
        color: #1683ea;
    }

    .overview-item {
        span {
            font-size: 14px;
        }
    }
}

.sub-heading-title {
    color: #212529;
    font-weight: 800;
}

.para-main {
    font-size: 20px;
    color: #020101;
    line-height: 1.8em;
}

.job-title {
    color: #1583e9;
    font-weight: 600;
}

.single-open-job {
    background: #fff;
    border-radius: 30px;
    padding: 2rem;

    i {
        color: #41464b;
        margin-right: 6px;
        opacity: 0.8;
    }

    h3,
    .job-label {
        color: #151D21;
    }
}

.developer-badge {
    background-color: rgba(23, 92, 255, .2);
    color: blue;
}

.bg-danger-soft {
    background: rgba(242, 87, 103, .2);
}

.bg-success-soft {
    background-color: rgba(92, 201, 167, .2);
}

.btn-rounded-sm {
    background: #1683ea;
    color: white;
    border: 1px solid #1683ea;
    padding: 0.5rem 1.25rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: 50px;

    &:hover {
        border-color: #0044e3;
        background-color: #0044e3;
    }
}

@media screen and (max-width: 425px) {
    .banner-text {
    
        h1 {
            color: #fff;
            font-size: 30px;
        }
    }
  
  }