
<app-header-banner [headerdata]="headertagData"></app-header-banner>
<div class="open-positions section-top-inner-space section-bottom-inner-space">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <p class="mb-0 job-title">Our Jobs</p>
        <h2 class="sub-heading-title">Current Available <br> Positions at Saufik</h2>
      </div>
      <div class="col-lg-8">
        <p class="para-main">Phosfluorescently disintermediate revolutionary paradigms before enabled
          interfaces. Dynamically transition skills vis-a-vis virtual customer service via impactful
          partnerships with technically sound paradigms with cutting-edge initiatives.</p>
      </div>
    </div>
    <div class="job-grid mt-4 gap-3 m-0">
      <ng-container  *ngFor="let item of [1,2,3,4]">
      <div  class=" job-items p-0 " >
        <div class="text-decoration-none single-open-job mb-lg-0 mb-md-4 mb-4">
          <div class="d-flex justify-content-between align-items-center">
            <span class="job-time mb-2 fs-6">
              <i class="fa-solid fa-briefcase fs-6"></i><strong class="font-14 fw-4">On Site - Full
                Time</strong></span>
            <span
              class="badge px-3 py-2 bg-custom-light rounded-pill small fw-5 bg-success-soft text-success">Manager</span>
          </div>
          <h5 class="job-label fw-6">Jr. Frontend Developer</h5>
          <ul class="job-info-list list-inline list-unstyled">
            <li class="list-inline-item"><i class="fa-solid fa-house font-14"></i><span class="font-14">Google</span>
            </li>
            <li class="list-inline-item"><i class="fa-solid fa-location-dot font-14"></i><span class="font-14">London,
                UK</span></li>
            <li class="list-inline-item"><i class="fa-solid fa-wallet font-14"></i><span class="font-14">$35k -
                $45k</span></li>
          </ul>
          <button class="btn-sm mt-2 btn-rounded-sm" routerLink="/careers/details"> Apply Now </button>
        </div>
      </div>
    </ng-container>
    </div>
  </div>
</div>
<div class="facilities-section section-top-inner-space section-bottom-inner-space pt-0">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-12">
        <div class="text-center">
          <p class="mb-0 job-title">Why Join Us</p>
          <h2 class="sub-heading-title mb-3">Great Working Environment</h2>
          <p class="light-text">Revolutionary paradigms before enabled interfaces dynamically transition
            technically sound paradigms with cutting-edge initiatives.</p>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <ng-container *ngFor="let item of WorkingEnviroment">
        <div class="col-lg-6 col-md-12">
          <div
            class="single-feature-card d-flex mt-0 p-5 bg-white rounded-custom mb-md-4 mb-4 flex-wrap flex-lg-nowrap">
            <i [class]="item.icon"></i>
            <div class="ms-4">
              <h5 class="fw-5">{{item.title}}</h5>
              <p class="mb-0 light-text">{{item.detail}}</p>
            </div>
          </div>
        </div>
      </ng-container>

    </div>

  </div>
</div>
