<ng-container *ngIf="headerdata">
  <div class="dev-background position-relative">
    <div class="background-overlay"></div>
    <div class="container banner-text d-flex align-items-center">
      <div class="mt-5">
        <ng-container *ngIf="headerdata.title">
          <p class="text-label mb-3 text-warning">[{{headerdata.title}} ]</p>
        </ng-container>
        <ng-container *ngIf="headerdata.subTitle">
          <h1 class="font-30" [innerHtml]="headerdata.subTitle"></h1>
        </ng-container>
        <ng-container *ngIf="headerdata.tagline">
          <p [innerHTML]="headerdata.tagline"></p>
        </ng-container>
        <ng-container *ngIf="headerdata.button">
          <button
            class="btn btn-primary btn-custom py-3 bg-white text-primary font-14 text-uppercase">{{headerdata.button}}
          </button>
        </ng-container>
      </div>
    </div>
  </div>

</ng-container>
