<!-- header and video section -->

<div class="position-relative">
  <div class="home-hero-wrapper">
    <owl-carousel-o [options]="heroCarousel">
      <ng-template carouselSlide>
        <video autoplay loop muted plays-inline class="background-video w-100">
          <source src="../../../../assets/images/saufik-hero-bg.mp4" type="video/mp4" />
        </video>

        <div class="content-hero">
          <div class="home-hero-display--intro">
            <h1 class="d-none d-sm-block">
              Generative AI:<br> unleashing possibilities
            </h1>
            <h1 class="d-sm-none">
              Generative AI:<br> unleashing <br> possibilities
            </h1>
          </div>
          <div class="home-hero-display--description mt-lg-3 mt-md-2">
            <div>
              Next-level personalized experience and<br> hyper-automation excellence
            </div>
          </div>

          <div class="link-icon-wrapper1 d-md-none">


            <div class="d-flex flex-lg-nowrap">
              <button type="button" class="btn-rounded home-hero-display--lets-talk text-uppercase"> LEARN MORE
              </button>
              <button type="button" class="btn-rounded home-hero-display--lets-talk text-uppercase"> Watch Video
              </button>
            </div>

          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <video autoplay loop muted plays-inline class="background-video w-100">
          <source src="../../../../assets/images/saufik-hero-2.mp4" type="video/mp4" />
        </video>

        <div class="content-hero">
          <div class="home-hero-display--intro">
            <h1>
              Powerful Web &<br>Mobile App Start-to-End
            </h1>
          </div>
          <div class="home-hero-display--description mt-lg-3 mt-md-2">
            <div>
              Next-level personalized experience and<br> hyper-automation excellence
            </div>
          </div>



          <div class="link-icon-wrapper1 d-md-none">


            <div class="d-flex flex-lg-nowrap">
              <button type="button" class="btn-rounded home-hero-display--lets-talk text-uppercase"> LEARN MORE
              </button>
              <button type="button" class="btn-rounded home-hero-display--lets-talk text-uppercase"> Watch Video
              </button>
            </div>

          </div>
        </div>




      </ng-template>


    </owl-carousel-o>
    <div class="d-none">
      <img src="../../../../assets/images/saufik-animation.svg">
    </div>

    <div class="link-icon-wrapper" style="position: absolute;">

      <h5 class="item-title mbr-fonts-style pb-1 display-2">Let's Start with <span>SAUFIK</span></h5>

      <div class="d-flex flex-lg-nowrap">
        <button type="button" class="btn-rounded home-hero-display--lets-talk text-uppercase"> LEARN MORE </button>
        <button type="button" class="btn-rounded home-hero-display--lets-talk text-uppercase" style="
    background: #151d21;"> Watch Video </button>
      </div>

      <div class="icon-wrap">
        <a href="#"><span class="mbr-iconfont mbr-iconfont-btn mobi-mbri-down mobi-mbri"></span></a>
      </div>

      <svg class="svg2" viewBox="0 0 100 100">
        <path d="m100,0H0v100C0,44.77,44.77,0,100,0Z" style="fill: #fff;"></path>
      </svg>
    </div>
  </div>


</div>
<!-- header and video section end -->
<!-- logo section -->
<div class="logo-sec section-top-inner-space section-bottom-inner-space">
  <div class="teams ">
    <div class="teams__heading mb-4">
      <p class="teams__title  text-center">TRUSTED BY SOME OF THE WORLD’S BEST TEAMS</p>
    </div>
    <div class="d-md-flex world-best-team align-items-center justify-content-center flex-wrap">
      <div class="trusted-team-inner">
        <img src="https://www.imobisoft.co.uk/wp-content/uploads/2021/04/1childreninneed.png">
      </div>
      <div class="trusted-team-inner">
        <img src="https://www.imobisoft.co.uk/wp-content/uploads/2021/04/9nhs.png">
      </div>
      <div class="trusted-team-inner">
        <img src="https://www.imobisoft.co.uk/wp-content/uploads/2021/04/3coventryuniversity.png">
      </div>
      <div class="trusted-team-inner">
        <img src="https://www.imobisoft.co.uk/wp-content/uploads/2021/04/4sky.png">
      </div>
      <div class="trusted-team-inner">
        <img src="https://www.imobisoft.co.uk/wp-content/uploads/2021/04/5keel.png">
      </div>
      <div class="trusted-team-inner">
        <img src="https://www.imobisoft.co.uk/wp-content/uploads/2021/04/6northern.png">
      </div>
      <div class="trusted-team-inner">
        <img src="https://www.imobisoft.co.uk/wp-content/uploads/2021/04/7gsk.png">
      </div>
      <div class="trusted-team-inner">
        <img src="https://www.imobisoft.co.uk/wp-content/uploads/2021/04/8lulla.png">
      </div>
    </div>
  </div>
</div>

<app-saufik-services></app-saufik-services>
<app-saufik-offshore-staffing></app-saufik-offshore-staffing>
<app-saufik-expertise></app-saufik-expertise>
<!-- technologies section -->
<div class="tools-technologies">
  <h2 class=" section-title mb-5 text-center">Tools & Technologies</h2>
  <div class="overflow-hidden pb-lg-5 pb-3">
    <div class="tech-details mx-3">
      <div class="technology-tools">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide>
            <div class="tech-img"><img src="../../../../assets/images/aws.webp"></div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="tech-img"><img src="../../../../assets/images/ad.webp"></div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="tech-img"><img src="../../../../assets/images/as.webp"></div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="tech-img"><img src="../../../../assets/images/gc.webp"></div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="tech-img"><img src="../../../../assets/images/kotlin.webp"></div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="tech-img"><img src="../../../../assets/images/aws.webp"></div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="tech-img"><img src="../../../../assets/images/ad.webp"></div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="tech-img"><img src="../../../../assets/images/aws.webp"></div>
          </ng-template>
        </owl-carousel-o>

      </div>
    </div>

  </div>
</div>
<!-- new section -->
<section class=" services-title">
  <div class="container">
    <h2 class="section-title text-center d-none">With all the Features You Need</h2>
    <p class="text-center d-none">
      Credibly grow premier ideas rather than bricks-and-clicks strategic theme areas distributed for stand-alone
      web-readiness.</p>
    <div class="row">
      <div class="col-lg-6 mt-4">
        <div class="position-relative d-flex flex-column h-100 flex-wrap bg-danger-soft p-5 rounded-custom">
          <div class="cta-left-info mb-2 text-left">
            <h5 class="fw-7">Utilize your software data</h5>
            <p class="fs-body"> Progressively reinvent models and niche revolutionary benefits for integrated niches. </p>
          </div>
          <div class="mt-auto text-left"><a href="/request-for-demo" class="btn btn-outline-primary btn-sm">Get
              Started</a>
          </div>
          <div class="cta-img position-absolute right-0 bottom-0"><img
              src="../../../../assets/images/technology-card1.png" alt="cta img" class="img-fluid"></div>
        </div>
      </div>
      <div class="col-lg-6 mt-4">
        <div class="position-relative d-flex flex-column h-100 flex-wrap bg-primary-soft p-5 rounded-custom">
          <div class="cta-left-info mb-2 text-left">
            <h5 class="fw-7">Get real time updated anytime</h5>
            <p class="fs-body"> Progressively reinvent models and niche revolutionary benefits for integrated niches. </p>
          </div>
          <div class="mt-auto text-left"><a href="/request-for-demo" class="btn btn-outline-primary btn-sm">Get
              Started</a>
          </div>
          <div class="cta-img position-absolute right-0 bottom-0"><img
              src="../../../../assets/images/technology-card2.png" alt="cta img" class="img-fluid"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- why choose us -->
<section>
  <div class=" client-testimonial">
    <div
      class=" container section-bottom-inner-space section-top-inner-space section-bottom-outer-space section-top-outer-space ">
      <div class="row">
        <div class="col-lg-6">

          <div>
            <div class="text-center text-lg-start">
              <h2 class="section-title ">Why Choose <span class="text-primary">Saufik</span> </h2>
              <p class="mt-4 fs-body">We customize our work processes to suit the specific demands of your project,
                fostering an environment
                conducive to innovation. Our approach is geared towards not only meeting but surpassing your
                expectations, amplifying creativity and problem-solving throughout the entire development journey.

              </p>
              <ul class="p-0 mt-4  d-flex flex-column align-items-center align-items-lg-start">
                <li class="fs-body"> <span> <i class="fa fa-check-circle" aria-hidden="true"></i> </span> <span>Build a
                    functional
                    prototype in 24 hrs</span></li>
                <li class="fs-body"> <span> <i class="fa fa-check-circle" aria-hidden="true"></i> </span> <span>Create
                    an MVP within two
                    weeks</span></li>
                <li class="fs-body"> <span> <i class="fa fa-check-circle" aria-hidden="true"></i> </span>
                  <span>Kickstart software
                    development</span></li>
                <li class="fs-body"> <span> <i class="fa fa-check-circle" aria-hidden="true"></i> </span> <span>Get 24/7
                    tech & business
                    support
                  </span></li>
              </ul>

            </div>
            <hr>
            <div class="text-center text-lg-start">
              <h4> <span> Best Practices From Industry Experts </span></h4>
              <p class="fs-body">We’ve designed a culture that allows our stewards to assimilate with
                our clients and bring.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 d-none d-lg-block">
          <div class="image-container position-relative">
            <div class="imges image-1">
              <img src="../../../../assets/images/abq-banner01.jpg" alt="" srcset="">
            </div>
            <div class="imges image-2">
              <img src="../../../../assets/images/chooseus1.jpg" srcset="">
            </div>
            <div class="imges image-3">
              <img src="../../../../assets/images/chooseus2.jpg" alt="" srcset="">
            </div>
            <div class="imges image-4">
              <img src="../../../../assets/images/chooseus3.jpg" alt="" srcset="">
            </div>
            <div class="imges image-5">
              <h3 class="">20+</h3>
              <h6 class="">Years of working experience</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="d-none">
  <h2 class="services-title text-center mb-4 section-title">Why Choose Us?</h2>
  <p class="sub-title-light text-center">We personalize how we work to fit your project needs. Our approach helps
    augment innovation.</p>
  <div class="d-flex justify-content-around align-items-center my-4 flex-md-nowrap flex-wrap gap-3">
    <div class="testimonial-content">
      <div>
        <div class="inner-circle">
          <div class="d-flex justify-content-center">
            <img src="../../../../assets/images/why1.svg">
          </div>
        </div>
        <div>
          <h3>Build a&nbsp;functional prototype in&nbsp;24 hrs</h3>
        </div>
      </div>
    </div>
    <div class="testimonial-content">
      <div>
        <div class="inner-circle">
          <div class="d-flex justify-content-center">
            <img src="../../../../assets/images/why2.svg">
          </div>
        </div>
        <div>
          <h3>Create an MVP within two weeks</h3>
        </div>
      </div>
    </div>
    <div class="testimonial-content">
      <div>
        <div class="inner-circle">
          <div class="d-flex justify-content-center">
            <img src="../../../../assets/images/why3.svg">
          </div>
        </div>
        <div>
          <h3>Kickstart software development</h3>
        </div>
      </div>
    </div>
    <div class="testimonial-content">
      <div>
        <div class="inner-circle">
          <div class="d-flex justify-content-center">
            <img src="../../../../assets/images/why4.svg">
          </div>
        </div>
        <div>
          <h3>Get 24/7 tech & business support</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- client review section -->
<div class="client-review">
  <div class="container">

    <div class="row align-items-center">
      <div class="col-lg-5">
        <div class=" card-box px-lg-5 rounded-custom h-100 ">
          <h1 class="section-title text-center text-lg-start">What They Say About <span
              class="text-primary">Saufik</span>
          </h1>
          <p class=" mt-3 text-center text-lg-start fs-body">Uniquely promote adaptive quality vectors rather than
            stand-alone e-markets. pontificate alternative architectures whereas iterate.

          </p>

          <div class="review-box py-lg-3 ">
            <div class="d-flex justify-content-between flex-column align-items-center align-items-lg-start flex-wrap">
              <div>
                <h6 class="text-uppercase review-text mb-2 fw-7 fs-6">Total Review</h6>
              </div>
              <div class="d-flex align-items-center flex-column flex-lg-row gap-lg-4 mb-3 mb-lg-0">
                <div class="">
                  <i class="fs-6 fa-solid fa-star m-0"></i>
                  <i class="fs-6 fa-solid fa-star m-0"></i>
                  <i class="fs-6 fa-solid fa-star m-0"></i>
                  <i class="fs-6 fa-solid fa-star m-0"></i>
                  <i class="fs-6 fa-solid fa-star m-0"></i>
                </div>
                <p class="review-count fw-6 text-muted mb-0">49 reviews</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="card card-text border-0 rounded-custom h-100">
          <owl-carousel-o [options]="testimonialCarousel">
            <ng-container *ngFor="let item of testtemonial">
              <ng-template carouselSlide>
                <div class="px-md-5 ">

                  <div class="comma-img d-flex justify-content-center justify-content-lg-start ">
                    <img src="../../../../assets/images/quotes-left.b1f64ab4.svg" alt="" width="50px" srcset="">
                  </div>
                  <p
                    class="mb-3 mb-lg-4 mt-lg-4 mb-lg-4 text-justify fs-body para-quote  pb-lg-0 text-center text-lg-start">
                    Ac at sed sit senectus massa. Massa ante amet ultrices magna porta tempor.
                    Aliquet
                    diam in et magna ultricies mi at. Lectus enim, vel enim egestas nam pellentesque et leo. Elit mi
                    faucibus
                    laoreet aliquam pellentesque sed aliquet integer massa. Orci leo tortor ornare id mattis auctor
                    aliquam
                    volutpat aliquet. Odio lectus viverra eu blandit nunc malesuada vitae eleifend pulvinar.</p>
                  <div class="d-flex align-items-center review-img flex-column flex-lg-row gap-3 mb-2">
                    <img src="../../../../assets/images/avatar.jpg">
                    <div class="mx-2 text-center text-lg-start">
                      <h5 class="mb-0  ">Annette Black</h5>
                      <p class="mb-2 client-det fw-6 text-muted">Strategic Advisor at Ipsum Ltd.</p>
                      <div
                        class="text-warning d-flex gap-1 justify-content-center justify-content-lg-start mt-3 mt-lg-0">
                        <i class="fa-solid fa-star "></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ng-container>

          </owl-carousel-o>
        </div>
      </div>
    </div>

  </div>
</div>
<app-contact-us></app-contact-us>
