<!-- contact us  -->
<div class="contact-us">
  <div class="contact-container container">
    <div class="contact-us-section">
      <div class="row mx-0 justify-content-center ">
        <div class="col-lg-6 d-flex flex-column">
          <h2 class="title-form-contact mr-auto mt-lg-4 pt-lg-3 mb-4 section-title text-center text-lg-start"><b>Have a
              project in mind?
              <span class="text-primary">Let’s get to work.</span></b></h2>
          <p class="sub-title-form fs-body text-dark text-center text-lg-start">Let’s chat about how we can help you.
            Fill in the details and we’ll get back to you as soon we can.
          </p>
          <div class="contact-details position-relative fs-body">

            <ul class="p-0 list-unstyled d-flex flex-column gap-3">
              <li class="d-flex gap-3 align-items-center"> <span class="sq-box fa fa-phone"></span>
                <div class="d-flex flex-column fs-6">
                  <span class="fw-6 lh-1 ">Phone</span>
                  <span><a href="tel:+92 51 835-6733">+92 51 835-6733</a></span>
                </div>
              </li>

              <li class="d-flex gap-3 align-items-center"> <span class="sq-box fa fa-envelope"></span>
                <div class="d-flex flex-column fs-6">
                  <span class="fw-6 lh-1">Email</span>
                  <span><a href="mailto:info@saufik.com">info@saufik.com</a></span>
                </div>
              </li>
              <li class="d-flex gap-3 align-items-center"> <span class="sq-box fa fa-map-location-dot"></span>
                <div class="d-flex flex-column fs-6">
                  <span class="fw-6 lh-1">Address</span>
                  <span>Plot 349,
                    Street 01, I 9/3
                    Islamabad Capital Territory, 44000.</span>
                </div>
              </li>
              <li class="d-flex gap-3 align-items-center "> <span class="sq-box fa fa-clock"></span>
                <div class="d-flex flex-column fs-6">
                  <span class="fw-6 lh-1">Working Hour</span>
                  <span>Mon - Fri: 11:00 AM -
                    08:00 PM
                    Closed on Weekends</span>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-5 form-contact-us-right p-lg-5">
          <div class="contact-form d-flex flex-column align-items-center">


            <form class="w-100" method="POST">
              <div class="form-group mb-4">
                <input name="firstname" placeholder="First Name" type="text" class="form-control" value="">
                <label class="" for="">First Name<span class="required-label">*</span></label>
              </div>
              <div class="form-group mb-4">
                <input name="firstname" placeholder="Last Name" type="text" class="form-control" value="">
                <label class="" for="">Last Name<span class="required-label">*</span></label>
              </div>
              <div class="form-group mb-4 mt-1">
                <input name="email" placeholder="Email" type="email" class="form-control" value="">
                <label class="" for="">Email<span class="required-label">*</span></label>
              </div>
              <div class="form-group mb-4">
                <input name="phonenumber" placeholder="Phone number" type="email" class="form-control" value="">
                <label class="" for="">Phone Number<span class="required-label">*</span></label>
              </div>

              <div class="form-group mb-3">
                <textarea name="help" placeholder="Phone number" class="form-control h-100" cols="5" rows="6"
                  value=""> </textarea>
                <label class="" for="">How Can We Help<span class="required-label">*</span></label>
              </div>

              <!-- <div class="form-group mb-3">
                        <label class="" pllaceholder="Enter your Your Need">Where did you hear about us?</label>
                        <select class="form-control select-dd">
                            <option value="">Please Select</option>
                            <option value="Facebook">Facebook</option>
                            <option value="Linkedin">Linkedin</option>
                            <option value="Referral">Referral</option>
                            <option value="Google Search">Google Search</option>
                            <option value="Other">Other</option>
                        </select>

                    </div> -->
              <div class="hs_submit hs-submit d-flex">
                <button class="btn-rounded btn px-5 py-3 mt-4">Send</button>
              </div>
            </form>



          </div>
        </div>
      </div>
    </div>
  </div>
</div>
