<div class="dev-background position-relative">
    <div class="background-overlay"></div>
    <div class="container banner-text section-top-inner-space d-flex justify-content-center flex-column">
        <div class="row mx-3">
            <div class="col-lg-8">
                <div class="d-flex flex-column flex-wrap">
                    <!-- <img class="h-100" src="../../../../assets/images/google.png" alt=""> -->
                    <div class="mx-lg-4 mx-0">
                        <h1 class="fw-9">Jr. Frontend Developer</h1>
                        <p class="mb-2">Islamabad,PK</p>
                        <p class="mb-0">Saufik - Developer / Full Time / On Site</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-lg-0 mt-md-3 mt-3">
                <div class="annual-salary-wrap">
                    <button class="btn-rounded">APPLY FOR THIS JOB</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container section-top-inner-space section-bottom-inner-space position-relative">
    <div class="row">
        <div class="col-lg-8">
            <h1 class="fw-9">Job Details</h1>
            <p class="job-detail-para mb-5">Objectively restore stand-alone markets rather than enterprise-wide
                products. Uniquely underwhelm best-of-breed mindshare through adaptive niches. Seamlessly parallel task
                open-source content without resource sucking technology.</p>
            <div class="job-description mb-5">
                <h5 class="fw-6">Job Responsibilities</h5>
                <ul class="px-4 job-list">
                    <li>Be involved in every step of the product design cycle from discovery and user acceptance
                        testing.</li>
                    <li>Work with BAs, product managers and tech teams to lead the Product Design.</li>
                    <li>Maintain quality of the design process and ensure that when designs are translated into code
                        they accurately.</li>
                    <li>Accurately estimate design tickets during planning sessions.</li>
                    <li>Contribute to sketching sessions involving non-designersCreate, and pattern libraries.</li>
                    <li>Design pixel perfect responsive UI’s and understand that adopting common interface.</li>
                    <li>Interface patterns is better for UX than reinventing the wheel.</li>
                </ul>

            </div>
            <div class="job-description mb-5">
                <h5 class="fw-6">Job Requirements</h5>
                <ul class="px-4 job-list">
                    <li>Interactively plagiarize covalent "outside the box" thinking vis-a-v.</li>
                    <li>Holisticly communicate integrated channels via backend interfaces. Authoritatively.</li>
                    <li>Globally actualize effective processes through synergistic ROI. Interactively.</li>
                </ul>
            </div>
            <div class="job-description mb-5">
                <h5 class="fw-6">Skill & Experience</h5>
                <ul class="px-4 job-list">
                    <li>You have at least 3 years’ experience working as a Product Designer.</li>
                    <li>You have experience using Sketch and InVision or Framer X.</li>
                    <li>You have some previous experience working in an agile environment – Think two-week sprints.</li>
                    <li>You are familiar using Jira and Confluence in your workflow.</li>
                </ul>
            </div>
            <div class="job-img">
                <img class="w-100" src="../../../../assets/images/skill-img.jpg" alt="">
            </div>

        </div>
        <div class="col-lg-4">
            <div class="job-card mt-lg-0 mt-md-3 mt-3 bg-light">
                <h5 class="fw-6">Job Overviews</h5>
                <ul class="px-0 job-card-list mt-4">
                    <li class>
                        <i class="fa-solid fa-location-dot"></i>
                        <div class="overview-item">
                            <h6 class="mb-0 fw-6">Location</h6><span>London, UK</span>
                        </div>
                    </li>
                    <li>
                        <i class="fa-regular fa-user"></i>
                        <div class="overview-item">
                            <h6 class="mb-0 fw-6">Job Title:</h6><span>Developer</span>
                        </div>
                    </li>
                    <li>
                        <i class="fa-regular fa-clock"></i>
                        <div class="overview-item">
                            <h6 class="mb-0 fw-6">Hours:</h6><span>50h / week</span>
                        </div>
                    </li>
                    <li>
                        <i class="fa-solid fa-clock-rotate-left"></i>
                        <div class="overview-item">
                            <h6 class="mb-0 fw-6">Rate:</h6><span>$15 - $25 / hour</span>
                        </div>
                    </li>
                    <li>
                        <i class="fa-solid fa-wallet"></i>
                        <div class="overview-item">
                            <h6 class="mb-0 fw-6">Salary:</h6><span>$35k - $45k</span>
                        </div>
                    </li>
                </ul>
                <div class="d-flex justify-content-center">
                    <button class="mt-2 btn btn-primary py-3 btn-custom"> Apply Now </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-top-inner-space section-bottom-inner-space bg-light">
    <div class="container ">
        <div class="row">
            <div class="col-lg-4">
                <p class="mb-0 job-title">Related Jobs</p>
                <h2 class="sub-heading-title">More Openings <br> Jobs at Saufik</h2>
            </div>
            <div class="col-lg-8">
                <p class="para-main">Phosfluorescently disintermediate revolutionary paradigms before enabled
                    interfaces. Dynamically transition skills vis-a-vis virtual customer service via impactful
                    partnerships with technically sound paradigms with cutting-edge initiatives.</p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-4 mt-lg-0 mt-md-3 mt-3">
                <div class="text-decoration-none single-open-job">
                    <div class="d-flex justify-content-between align-items-center flex-wrap mb-3">
                        <span class="job-time mb-2">
                            <i class="fa-solid fa-briefcase font-14"></i><strong class="font-14 fw-4">On Site - Full
                                Time</strong></span>
                        <span
                            class="badge px-3 py-2 bg-custom-light rounded-pill small fw-5 developer-badge">Developer</span>
                    </div>
                    <h5 class="job-label fw-6">Sr. Backend Developer</h5>
                    <ul class="job-info-list list-inline list-unstyled">
                        <li class="list-inline-item"><i class="fa-solid fa-house font-14"></i><span
                                class="font-14">Google</span></li>
                        <li class="list-inline-item"><i class="fa-solid fa-location-dot font-14"></i><span
                                class="font-14">London, UK</span></li>
                        <li class="list-inline-item"><i class="fa-solid fa-wallet font-14"></i><span
                                class="font-14">$35k - $45k</span></li>
                    </ul>
                    <button class="btn-sm mt-2 btn-rounded-sm btn-custom"> Apply Now </button>
                </div>
            </div>
            <div class="col-lg-4 mt-lg-0 mt-md-3 mt-3">
                <div class="text-decoration-none single-open-job">
                    <div class="d-flex justify-content-between align-items-center flex-wrap mb-3">
                        <span class="job-time mb-2">
                            <i class="fa-solid fa-briefcase font-14"></i><strong class="font-14 fw-4">On Site - Full
                                Time</strong></span>
                        <span
                            class="badge px-3 py-2 bg-custom-light rounded-pill small bg-danger-soft text-danger fw-5">Designer</span>
                    </div>
                    <h5 class="job-label fw-6">UI/UX Designer</h5>
                    <ul class="job-info-list list-inline list-unstyled">
                        <li class="list-inline-item"><i class="fa-solid fa-house font-14"></i><span
                                class="font-14">Google</span></li>
                        <li class="list-inline-item"><i class="fa-solid fa-location-dot font-14"></i><span
                                class="font-14">London, UK</span></li>
                        <li class="list-inline-item"><i class="fa-solid fa-wallet font-14"></i><span
                                class="font-14">$35k - $45k</span></li>
                    </ul>
                    <button class="btn-sm mt-2 btn-rounded-sm btn-custom"> Apply Now </button>
                </div>
            </div>
            <div class="col-lg-4 mt-lg-0 mt-md-3 mt-3">
                <div class="text-decoration-none single-open-job mb-lg-0 mb-md-4 mb-4">
                    <div class="d-flex justify-content-between align-items-center flex-wrap mb-3">
                        <span class="job-time mb-2">
                            <i class="fa-solid fa-briefcase font-14"></i><strong class="font-14 fw-4">On Site - Full
                                Time</strong></span>
                        <span
                            class="badge px-3 py-2 bg-custom-light rounded-pill small fw-5 bg-success-soft text-success">Manager</span>
                    </div>
                    <h5 class="job-label fw-6">Jr. Frontend Developer</h5>
                    <ul class="job-info-list list-inline list-unstyled">
                        <li class="list-inline-item"><i class="fa-solid fa-house font-14"></i><span
                                class="font-14">Google</span></li>
                        <li class="list-inline-item"><i class="fa-solid fa-location-dot font-14"></i><span
                                class="font-14">London, UK</span></li>
                        <li class="list-inline-item"><i class="fa-solid fa-wallet font-14"></i><span
                                class="font-14">$35k - $45k</span></li>
                    </ul>
                    <button class="btn-sm mt-2 btn-rounded-sm btn-custom"> Apply Now </button>
                </div>
            </div>
        </div>
    </div>
</div>
