<!-- <app-menu-bar></app-menu-bar> -->
<div>
    <div class="dev-background position-relative">
        <div class="background-overlay"></div>
        <div class="container banner-text d-flex align-items-center">
            <div>
                <h1>Software Development</h1>
                <p class="mb-0">Power your business with our robust, </p>
                <p>secure and scalable solutions.</p>
            </div>
        </div>
    </div>
</div>
<div class="container description-dev">
    <div class="row">
        <div class="col-lg-4">
            <h2>Bespoke and Off-the-shelf Software Solutions for Your Unique Business Needs</h2>
        </div>
        <div class="col-lg-8">
            <p class="mb-0">As a leading software development company and digital partner of global enterprises and
                startups, we provide high-quality software development solutions. Our software services encompass the
                full cycle of software development, from ideation to delivery to security and maintenance. Whether it’s
                about customizing a running platform, developing prototype applications, or building and implementing
                complex technology solutions for enterprises, our globally distributed team of expert talent is equipped
                to deliver rapid and fool-proof solutions.</p>
        </div>
    </div>
</div>
<div class="software-dev-sec">
    <div class="blue-overlay"></div>
    <div class="container position-relative">

        <div class="row">
            <h2 class="heading-main">Our Services</h2>
            <div class="col-lg-7 mt-5">
                <ul class="nav nav-tabs border-0 justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="tab" id="technical-Consulting"
                            data-bs-target="#technicalConsulting">Technical Consulting</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="full-stackDev" data-bs-toggle="tab" data-bs-target="fullstackDev">Full
                            Stack Development</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tab3" data-toggle="tab">New Product Development</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tab4" data-toggle="tab">Mobile App Development</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tab5" data-toggle="tab">Legacy and Application Modernization</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tab6" data-toggle="tab">API Development and Integration</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tab7" data-toggle="tab">Cloud Development</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tab8" data-toggle="tab">UX/UI Design and Ideation</a>
                    </li>
                </ul>

            </div>
            <div class="tab-content col-lg-5">
                <div class="tab-pane fade show active" id="technicalConsulting" aria-labelledby="technical-Consulting">
                    <div class="card service-card">
                        <img src="../../../../assets/images/consutling-icon.svg" alt="">
                        <h2>Technical Consulting</h2>
                        <p>Our consultants identify and prioritize business goals, analyze existing investments and
                            systems, and create a roadmap for software delivery and monitoring services. As a trusted
                            digital partner, we work together with our clients to plan and build software optimized for
                            their specific needs that provides true and sustainable value.</p>
                    </div>
                </div>
                <div class="tab-pane fade" id="fullstackDev" aria-labelledby="full-stackDev">
                    <div class="card service-card">
                        <img src="../../../../assets/images/consutling-icon.svg" alt="">
                        <h2>Technical Consulting fdcd</h2>
                        <p>Our consultants identify and prioritize business goals, analyze existing investments and
                            systems, and create a roadmap for software delivery and monitoring services. As a trusted
                            digital partner, we work together with our clients to plan and build software optimized for
                            their specific needs that provides true and sustainable value.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="advantages">
    <div class="container">
        <h2 class="heading-main">The Saufik's Advantage</h2>
        <div class="mt-5 d-flex flex-wrap">
            <div class="advantage-card">
                <img src="../../../../assets/images/technology.svg" alt="">
                <h6 class="my-3 advantage-card-title">Engineering <br> Excellence</h6>
                <p>Based on design-driven thinking and a product mindset, our solutions sync seamlessly with business
                    operations and can be scaled effortlessly. </p>
            </div>
            <div class="advantage-card">
                <img src="../../../../assets/images/technology.svg" alt="">
                <h6 class="my-3 advantage-card-title">Engineering <br> Excellence</h6>
                <p>Based on design-driven thinking and a product mindset, our solutions sync seamlessly with business
                    operations and can be scaled effortlessly. </p>
            </div>
            <div class="advantage-card">
                <img src="../../../../assets/images/technology.svg" alt="">
                <h6 class="my-3 advantage-card-title">Engineering <br> Excellence</h6>
                <p>Based on design-driven thinking and a product mindset, our solutions sync seamlessly with business
                    operations and can be scaled effortlessly. </p>
            </div>
            <div class="advantage-card">
                <img src="../../../../assets/images/technology.svg" alt="">
                <h6 class="my-3 advantage-card-title">Engineering <br> Excellence</h6>
                <p>Based on design-driven thinking and a product mindset, our solutions sync seamlessly with business
                    operations and can be scaled effortlessly. </p>
            </div>
            <div class="advantage-card">
                <img src="../../../../assets/images/technology.svg" alt="">
                <h6 class="my-3 advantage-card-title">Engineering <br> Excellence</h6>
                <p>Based on design-driven thinking and a product mindset, our solutions sync seamlessly with business
                    operations and can be scaled effortlessly. </p>
            </div>
            <div class="advantage-card">
                <img src="../../../../assets/images/technology.svg" alt="">
                <h6 class="my-3 advantage-card-title">Engineering <br> Excellence</h6>
                <p>Based on design-driven thinking and a product mindset, our solutions sync seamlessly with business
                    operations and can be scaled effortlessly. </p>
            </div>
        </div>
    </div>
</div>
<div class="operating-models">
    <div class="container">
        <h2 class="mb-5 heading-main">Operating Models</h2>
        <div class="row operating-modes">
            <div class="col-lg-7">
                <h4>Onshore Software Development</h4>
                <p>Onshore software development entails engaging with a development team in the same territory as your
                    business center. This is a good choice when the work requires close collaboration with on-site
                    specialists, and regular face-to-face communication is critical. We offer top-quality on-shore
                    development from our development centers in USA, UK, LATAM and South Asia.</p>
            </div>
            <div class="col-lg-5">
                <img src="../../../../assets/images/onshore-offshore.webp" alt="">
                <div class="white-overlay"></div>
            </div>
        </div>
        <div class="row operating-modes">
            <div class="col-lg-5">
                <img src="../../../../assets/images/nearshore.webp" alt="">
            </div>
            <div class="col-lg-7">
                <h4>Nearshore Software Development</h4>
                <p>Onshore software development entails engaging with a development team in the same territory as your
                    business center. This is a good choice when the work requires close collaboration with on-site
                    specialists, and regular face-to-face communication is critical. We offer top-quality on-shore
                    development from our development centers in USA, UK, LATAM and South Asia.</p>
            </div>

        </div>
        <div class="row operating-modes">
            <div class="col-lg-7">
                <h4>Offshore Software Development</h4>
                <p>Onshore software development entails engaging with a development team in the same territory as your
                    business center. This is a good choice when the work requires close collaboration with on-site
                    specialists, and regular face-to-face communication is critical. We offer top-quality on-shore
                    development from our development centers in USA, UK, LATAM and South Asia.</p>
            </div>
            <div class="col-lg-5">
                <img src="../../../../assets/images/offshore.webp" alt="">
            </div>
        </div>
        <div class="row operating-modes">
            <div class="col-lg-5">
                <img src="../../../../assets/images/rightshore.webp" alt="">
            </div>
            <div class="col-lg-7">
                <h4>Rightshore Software Development</h4>
                <p>Onshore software development entails engaging with a development team in the same territory as your
                    business center. This is a good choice when the work requires close collaboration with on-site
                    specialists, and regular face-to-face communication is critical. We offer top-quality on-shore
                    development from our development centers in USA, UK, LATAM and South Asia.</p>
            </div>

        </div>

    </div>
</div>
<div class="featured-industries">
    <div class="container">
        <h2 class="mb-5 heading-main">Featured Industries</h2>
        <div class="features-detail d-flex justify-content-center flex-wrap">
            <div class="feature-btn">
                <img src="../../../../assets/images/education-feature.svg" alt="">
                <span>Education</span>
            </div>
            <div class="feature-btn">
                <img src="../../../../assets/images/healthcare-feature.svg" alt="">
                <span>Healthcare</span>
            </div>
            <div class="feature-btn">
                <img src="../../../../assets/images/finance-feature.svg" alt="">
                <span>Finance</span>
            </div>
            <div class="feature-btn">
                <img src="../../../../assets/images/transport-feature.svg" alt="">
                <span>Transportation</span>
            </div>
            <div class="feature-btn">
                <img src="../../../../assets/images/tech-feature.svg" alt="">
                <span>Technology</span>
            </div>
            <div class="feature-btn">
                <img src="../../../../assets/images/telecom-feature.svg" alt="">
                <span>Telecom</span>
            </div>
            <div class="feature-btn">
                <img src="../../../../assets/images/energy-feature.svg" alt="">
                <span>Energy</span>
            </div>
            <div class="feature-btn">
                <img src="../../../../assets/images/real-state-feature.svg" alt="">
                <span>Real Estate</span>
            </div>
            <div class="feature-btn">
                <img src="../../../../assets/images/real-state-feature.svg" alt="">
                <span>Retail</span>
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-column align-items-center get-started mb-5">
    <div class="container d-flex flex-column align-items-center justify-content-center">
        <h1 class="text-center">Ready to Get Started?</h1>
        <button class="btn-rounded mt-3">Let's Connect</button>
    </div>

</div>