<app-menu-bar></app-menu-bar>
<div class="dev-background position-relative">
    <div class="background-overlay"></div>
    <div class="container banner-text d-flex align-items-center">
        <div class="mt-5">
            <h1 class="font-30">Software Development Services</h1>
            <p class="mb-2 font-16">Experts in: JavaScript, TypeScript, .NET & React Native</p>
            <p class="font-16">80+ delivered projects. ★4.9 / 5 .</p>
            <button class="btn btn-primary py-3 bg-white text-primary font-14">Let's Start</button>
        </div>
    </div>
</div>
<div class="client-logos">
    <div class="container">
        <div class="d-flex align-items-center py-4 mx-lg-5 flex-lg-nowrap flex-wrap">
            <p class="text-white text-nowrap mx-3">Trusted By:</p>
            <div class="d-flex justify-content-between w-100 flex-wrap">
                <img src="../../../../assets/images/pwc.webp" alt="">
                <img src="../../../../assets/images/cs-logo.webp" alt="">
                <img src="../../../../assets/images/logo-beam-white.svg" alt="">
                <img src="../../../../assets/images/logo-national-geographic-white.svg" alt="">
                <img src="../../../../assets/images/logo-paradox-white.svg" alt="">
            </div>
        </div>
    </div>
</div>
<div class="co-founder section-top-inner-space section-bottom-inner-space">
    <div class="container">
        <div class="row mx-lg-5">
            <div class="col-lg-6 mt-5">
                <h2 class="heading-3 font-30">We focus on the fastest route to market – respecting your time and pushing
                    your
                    web app to success.</h2>
                <p class="sub-para font-16">Scale your web app development with experienced full-stack developers and
                    product
                    experts from one of the top JavaScript development companies in Europe.</p>
            </div>
            <div class="col-lg-6">
                <img class="w-100" src="../../../../assets/images/cover-founder.jpeg" alt="">
            </div>

        </div>
    </div>
</div>
<div class="software-dev-sec section-top-inner-space section-bottom-inner-space">
    <div class="blue-overlay"></div>
    <div class="container position-relative">
        <div class="row">
            <h2 class="heading-2">Our Services</h2>
            <div class="col-lg-7 mt-5">
                <ul class="nav nav-tabs border-0 justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="tab" id="technical-Consulting"
                            data-bs-target="#technicalConsulting">Technical Consulting</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="full-stackDev" data-bs-toggle="tab" data-bs-target="fullstackDev">Full
                            Stack Development</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tab3" data-toggle="tab">New Product Development</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tab4" data-toggle="tab">Mobile App Development</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tab5" data-toggle="tab">Legacy and Application Modernization</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tab6" data-toggle="tab">API Development and Integration</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tab7" data-toggle="tab">Cloud Development</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tab8" data-toggle="tab">UX/UI Design and Ideation</a>
                    </li>
                </ul>

            </div>
            <div class="tab-content col-lg-5">
                <div class="tab-pane fade show active" id="technicalConsulting" aria-labelledby="technical-Consulting">
                    <div class="card service-card">
                        <img src="../../../../assets/images/consutling-icon.svg" alt="">
                        <h2>Technical Consulting</h2>
                        <p>Our consultants identify and prioritize business goals, analyze existing investments and
                            systems, and create a roadmap for software delivery and monitoring services. As a trusted
                            digital partner, we work together with our clients to plan and build software optimized for
                            their specific needs that provides true and sustainable value.</p>
                    </div>
                </div>
                <div class="tab-pane fade" id="fullstackDev" aria-labelledby="full-stackDev">
                    <div class="card service-card">
                        <img src="../../../../assets/images/consutling-icon.svg" alt="">
                        <h2>Technical Consulting fdcd</h2>
                        <p>Our consultants identify and prioritize business goals, analyze existing investments and
                            systems, and create a roadmap for software delivery and monitoring services. As a trusted
                            digital partner, we work together with our clients to plan and build software optimized for
                            their specific needs that provides true and sustainable value.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="slogan-sec section-top-inner-space section-bottom-inner-space">
    <div class="container">
        <div class="d-flex align-items-center justify-content-center flex-column">
            <h2 class="heading-2 text-white">In 2023</h2>
            <h2 class="heading-2 highlight-text">software should be an unfair advantage,</h2>
            <h2 class="heading-2 text-white">not a drag.</h2>
        </div>

    </div>
</div> -->
<div class="advantages section-top-inner-space section-bottom-inner-space">
    <div class="container">
        <div class="text-center">
            <h2 class="heading-2 font-30">Accelerate your software development.</h2>
        </div>

        <div class="w-layout-grid mx-lg-5 px-lg-5">
            <div class="outcome-grid-inner">
                <div class="outcome-grid-inner-hr">
                    <h3 class="heading-3 font-20">Set your app for scalability</h3>
                </div>
                <div class="outcome-grid-inner-bottom">
                    <p class="sub-para font-16">Build a web app that grows as your business grows, depending on the
                        demand.
                    </p>
                </div>
            </div>
            <div class="outcome-grid-inner">
                <div class="outcome-grid-inner-hr">
                    <h3 class="heading-3 font-20">Speed up your app</h3>
                </div>
                <div class="outcome-grid-inner-bottom">
                    <p class="sub-para font-16">Optimize your app for speed to drive more conversions and user
                        engagement.</p>
                </div>
            </div>
            <div class="outcome-grid-inner">
                <div class="outcome-grid-inner-hr">
                    <h3 class="heading-3 font-20">Find product-market fit</h3>
                </div>
                <div class="outcome-grid-inner-bottom">
                    <p class="sub-para font-16">Validate your MVP, discover who your ideal customers are and find a
                        problem-solution fit.</p>
                </div>
            </div>
            <div class="outcome-grid-inner">
                <div class="outcome-grid-inner-hr">
                    <h3 class="heading-3 font-20">Develop microservices</h3>
                </div>
                <div class="outcome-grid-inner-bottom">
                    <p class="sub-para font-16">Release software fast and frequently, and quickly adapt to market
                        changes.</p>
                </div>
            </div>
            <div class="outcome-grid-inner">
                <div class="outcome-grid-inner-hr">
                    <h3 class="heading-3 font-20">Stunning UX &amp; UI for users</h3>
                </div>
                <div class="outcome-grid-inner-bottom">
                    <p class="sub-para font-16">Design a web app that fulfils your business goals and creates a
                        meaningful
                        experience for users.</p>
                </div>
            </div>
            <div class="outcome-grid-inner">
                <div class="outcome-grid-inner-hr">
                    <h3 class="heading-3 font-20">Leverage cloud solutions</h3>
                </div>
                <div class="outcome-grid-inner-bottom">
                    <p class="sub-para font-16">Reduce the costs and time spent on managing and maintaining your
                        business' IT
                        infrastructure.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="tech-languages section-bottom-inner-space">
    <div class="container">
        <div class="text-center">
            <h2 class="heading-2 mb-3 font-30">With technology that’s here to stay.</h2>
            <p class="sub-para mb-0 font-16">Get an unbiased perspective on the best frameworks and tools for your
                project.</p>
            <p class="sub-para mb-0 font-16">With 70+ completed projects, we’ve seen enough to save you from trouble.
            </p>
        </div>
        <div class="section-top-inner-space">
            <div class="logo-grid">
                <img src="../../../../assets/images/node-logo.svg" alt="">
                <img src="../../../../assets/images/dotnet-logo.svg" alt="">
                <img src="../../../../assets/images/react-logo.svg" alt="">
                <img src="../../../../assets/images/typescript-logo.svg" alt="">
                <img src="../../../../assets/images/react-native-logo.svg" alt="">
                <img src="../../../../assets/images/aws-logo.svg" alt="">
                <img src="../../../../assets/images/nest-logo.svg" alt="">
                <img src="../../../../assets/images/redux-logo.svg" alt="">
            </div>
        </div>
    </div>
</div>
<div class="advisor-section section-top-inner-space section-bottom-inner-space">
    <div class="container">
        <div class="text-center text-white">
            <h2 class="heading-2 mb-lg-3 font-30">With 80+ projects under our belt, there’s a high chance we can help
            </h2>
            <h2 class="heading-2 mb-3 font-30">with yours.</h2>
            <p class="sub-para font-16">Consult your most pressing challenge with our technical advisors.</p>
        </div>
        <div class="d-flex justify-content-center">
            <button class="btn btn-primary py-3 mt-4 bg-white text-primary sub-para">Book A Tech Call</button>
        </div>

    </div>
</div>
<div class="strategy-flow section-top-inner-space">
    <div class="container d-flex justify-content-center align-items-center flex-column">
        <div class="text-center">
            <h2 class="heading-2 mb-3 font-30">Our secret?</h2>
            <h2 class="heading-2 mb-3 font-30">90% of iteration goals contribute to product goals.</h2>
            <p class="sub-para mb-0 font-16">Sounds simple, yet barely anyone in the industry even measures it.</p>
            <p class="sub-para font-16">For us, that's the primary thing that keeps our focus on what's needed for your
                product to succeed.</p>
        </div>
        <div class="strategy-img mt-4">
            <img class="px-3" src="../../../../assets/images/strategy-diagram.png" alt="">
        </div>
    </div>
</div>
<div class="featured-industries section-bottom-inner-space section-top-inner-space">
    <div class="container">
        <h2 class="mb-5 heading-2 text-center font-30">Featured Industries</h2>
        <div class="features-detail d-flex justify-content-center flex-wrap">
            <div class="feature-btn">
                <img src="../../../../assets/images/education-feature.svg" alt="">
                <span class="font-16">Education</span>
            </div>
            <div class="feature-btn">
                <img src="../../../../assets/images/healthcare-feature.svg" alt="">
                <span class="font-16">Healthcare</span>
            </div>
            <div class="feature-btn">
                <img src="../../../../assets/images/finance-feature.svg" alt="">
                <span class="font-16">Finance</span>
            </div>
            <div class="feature-btn">
                <img src="../../../../assets/images/transport-feature.svg" alt="">
                <span class="font-16">Transportation</span>
            </div>
            <div class="feature-btn">
                <img src="../../../../assets/images/tech-feature.svg" alt="">
                <span class="font-16">Technology</span>
            </div>
            <div class="feature-btn">
                <img src="../../../../assets/images/telecom-feature.svg" alt="">
                <span class="font-16">Telecom</span>
            </div>
            <div class="feature-btn">
                <img src="../../../../assets/images/energy-feature.svg" alt="">
                <span class="font-16">Energy</span>
            </div>
            <div class="feature-btn">
                <img src="../../../../assets/images/real-state-feature.svg" alt="">
                <span class="font-16">Real Estate</span>
            </div>
            <div class="feature-btn">
                <img src="../../../../assets/images/real-state-feature.svg" alt="">
                <span class="font-16">Retail</span>
            </div>
        </div>
    </div>
</div>
<div class="faq-section section-bottom-inner-space">
    <div class="container">
        <div class="row mx-lg-5">
            <div class="col-lg-6 col-md-12 mt-1 px-4">
                <h2 class="heading-2 font-30">FAQ for our web app development services</h2>
                <p class="sub-para font-16">Before you decide to build, scale or migrate your web app with Brainhub.</p>
            </div>
            <div class="col-lg-6 col-md-12 px-0 px-md-3">
                <div class="accordion ot-accordions faqAccord cursor-pointer" id="accordionExample">
                    <div class="card-header  acc-toggle" (click)="toggleAccordient($event)" id="heading0">
                        <div class="d-flex align-items-center text-decoration-none">
                            <i class="fa-solid fa-chevron-right mx-2"></i>
                            <span class="tab-title heading-3 font-20">Who should use web development services?</span>
                        </div>
                    </div>
                    <div class="card-body acc-content p-lg-0">
                        <p class="sub-para font-16">Any fast-growing tech business that wants to build static sites,
                            dynamic and
                            single page websites, online e-commerce stores, portal web apps, animated web apps, web apps
                            with a content management system, and progressive web applications (PWAs).</p>
                    </div>

                </div>
                <div class="accordion ot-accordions faqAccord cursor-pointer" id="accordionExample">
                    <div class="card-header  acc-toggle" (click)="toggleAccordient($event)" id="heading0">
                        <div class="d-flex align-items-center text-decoration-none">
                            <i class="fa-solid fa-chevron-right mx-2"></i>
                            <span class="tab-title heading-3 font-20">Industries we serve</span>
                        </div>
                    </div>
                    <div class="card-body acc-content p-lg-0">
                        <p class="sub-para font-16">We have the biggest experience working with fintech, martech,
                            gamedev,
                            edtech and IoT companies, but we’re open to exploring new industries.</p>
                    </div>

                </div>
                <div class="accordion ot-accordions faqAccord cursor-pointer" id="accordionExample">
                    <div class="card-header  acc-toggle" (click)="toggleAccordient($event)" id="heading0">
                        <div class="d-flex align-items-center text-decoration-none">
                            <i class="fa-solid fa-chevron-right mx-2"></i>
                            <span class="tab-title heading-3 font-20">What does a typical team look like?</span>
                        </div>
                    </div>
                    <div class="card-body acc-content p-lg-0">
                        <p class="sub-para font-16">The setup depends on your product maturity and needs but it can
                            include
                            experienced frontend and backend developers, QA engineers, Software Architects, UI/UX
                            Designers, Scrum Masters, Business Analysts and DevOps engineers.</p>
                    </div>

                </div>
                <div class="accordion ot-accordions faqAccord cursor-pointer" id="accordionExample">
                    <div class="card-header  acc-toggle" (click)="toggleAccordient($event)" id="heading0">
                        <div class="d-flex align-items-center text-decoration-none">
                            <i class="fa-solid fa-chevron-right mx-2"></i>
                            <span class="tab-title heading-3 font-20">What is the process?</span>
                        </div>
                    </div>
                    <div class="card-body acc-content p-lg-0">
                        <p class="sub-para font-16">Strategy: We make sure the product is feasible and create a
                            prioritized
                            roadmap of outcome-based goals that contribute to a product vision.</p>
                        <p class="sub-para font-16">Discovery: We work together as one team to find the best ideas to
                            reach the
                            desired goals. Creating innovative web apps can be a very complex mission.</p>
                        <p class="sub-para font-16">Delivery: First, we design and compose requirements for developers.
                            Then we
                            design the system and build the most critical business features. Finally, we do more tests
                            to be sure that the product is as perfect as possible.</p>
                    </div>

                </div>
                <div class="accordion ot-accordions faqAccord cursor-pointer" id="accordionExample">
                    <div class="card-header  acc-toggle" (click)="toggleAccordient($event)" id="heading0">
                        <div class="d-flex align-items-center text-decoration-none">
                            <i class="fa-solid fa-chevron-right mx-2"></i>
                            <span class="tab-title heading-3 font-20">How much it costs</span>
                        </div>
                    </div>
                    <div class="card-body acc-content p-lg-0">
                        <p class="sub-para font-16">We have worked on web app development projects with budgets that
                            range from
                            $40k to $1.2m. It’s very much dependent on the scope and duration of our involvement.
                            Schedule a quick call with our Business Development Manager to get a tailored estimate.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-column align-items-center get-started section-bottom-inner-space heading-2">
    <div class="container d-flex flex-column align-items-center justify-content-center">
        <h1 class="text-center mb-4">Ready to Get Started?</h1>
        <button class="btn btn-primary py-3">Let's Connect</button>
    </div>
</div>
<app-footer></app-footer>