<!-- services section -->
<div class="development-services section-bottom-outer-space  ">
  <h2 class="services-title section-title text-center mb-5">Software Development Services</h2>
  <div class="d-flex justify-content-center flex-wrap">
    <ng-container *ngFor="let service of services">
      <div class="offer-tabs-inner ">
        <span [class]=" service.icon " ngClass="icons"></span>
        <p class="offer-tabs-inner-title mt-3 mb-2">{{service.name}}</p>
        <p class="offer-tabs-inner-text">{{service.text}}</p>
        <div class="link-icon-wrapper">
          <svg class="svg1" viewBox="0 0 100 100"><path fill="#F8F8F8" d="m100,0H0v100C0,44.77,44.77,0,100,0Z"></path></svg>
          <div class="icon-wrap">
            <a>
              <i class="fa-solid fa-arrow-right"></i>
            </a>
          </div>
          <svg class="svg2" viewBox="0 0 100 100"> <path fill="#F8F8F8" d="m100,0H0v100C0,44.77,44.77,0,100,0Z"></path></svg>
        </div>
      </div>
    </ng-container>
  </div>

</div>
