.services-title{
    font-size: 40px;
    color: #151D21;
    font-weight: 700;
}
.development-services{
    padding: 50px 0;
    background-color: #F8F8F8;
    .offer-tabs-inner{
        width: 100%;
        max-width: 370px;
        text-align: center;
        background-color: #ffffff;
        border-radius: 12px;
        margin: 0 12px 25px;
        padding: 32px 30px;
        border: 1px solid #d9d9ff;
        transition: all 0.3s ease;
        cursor: pointer;
        &:hover{
            border-color: #04A1FF;
    background-color: #04A1FF;
    transform: scale(1.05);
    box-shadow: 0px 1px 15px 0px #d1d1d1, 0px 10px 16px 0px #d1d1d1;
    .offer-tabs-inner-title,.offer-tabs-inner-text{
        color: #fff;
        text-align: left;
    }
    svg{
        transform: scale(1.2) translateX(-70px) translateY(-10px);
    }
    svg > g > g > path{
        fill: #fff;
    }
        }
    }
    svg{
        transition: all 0.5s ease;
    }
    svg > g > g > path{
        fill: #1583e9;
    }
    .offer-tabs-inner-title{
        font-size: 18px;
        font-weight: 600;
        color: #151D21;
        margin-bottom: 18px;
    }
    .offer-tabs-inner-text{
        font-size: 14px;
        color: #898D8F;
        margin: 0;
    }
}