<app-header-banner [headerdata]="headertagData"></app-header-banner>
<div>
    <div class="history-values section-top-inner-space section-bottom-inner-space bg-light">
        <h1 class="section-title text-center mb-5">Our Leadership</h1>
        <div class="history-values-wrapper container d-flex justify-content-center flex-wrap">
          <ng-container *ngFor="let item of leadership">
            <div class="history-values-card-main">
                <div class="history-values-card bg-white history-values-card--left">
                    <div class="history-values-card-headline-col">
                        <h3 class="history-values-card-headline mb-3">
                            {{item.title}}
                        </h3>
                        <p class="history-values-card-subheadline paragraph1">{{item.detail}}</p>
                    </div>
                    <div class="history-values-card-icon history-values-card-left-icon">
                        <img src="../../../../assets/images/{{item.img}}">
                    </div>
                </div>
            </div>
          </ng-container>
        </div>
        <div class="reason-wrapper container bg-primary text-white">
            <div class="mx-lg-5 px-5 d-flex justify-content-between flex-wrap">
                <h2 class="section-title">Why Saufik?</h2>
                <button class="btn btn-primary btn-custom bg-white text-primary border-white">Contact Us Today To Learn
                    More</button>
            </div>
            <div class="history-reason-blocks mx-5 px-lg-5 px-3 d-flex justify-content-between flex-wrap mt-5">
                <div class="history-reason-block-text">
                    <p class="history-reason-block-headline mb-2">
                        global expertise
                    </p>
                    <p class="history-reason-block-subheadline">
                        We have established successful partnerships with US-based companies for the past 8 years,
                        helping them scale their businesses and achieve their digital goals.
                    </p>
                </div>
                <div class="history-reason-block-text">
                    <p class="history-reason-block-headline mb-2">
                        Product Design
                    </p>
                    <p class="history-reason-block-subheadline ">
                        Design is the foundation of our product development, guiding creation with knowledge and
                        research to determine relevant features that meet user needs.
                    </p>
                </div>
                <div class="history-reason-block-text">
                    <p class="history-reason-block-headline mb-2">
                        custom solution
                    </p>
                    <p class="history-reason-block-subheadline">
                        Our experimentation is centered in creating unique solutions, always searching for the best one
                        in each project. We thrive in finding new ways to amaze our clients.
                    </p>
                </div>
            </div>
        </div>
    </div>
<div class="team-mates section-top-inner-space">
    <div class="team-heading mx-lg-5 px-5 d-flex justify-content-center flex-column align-items-center flex-wrap">
        <h2 class="fw-9">Meet our team</h2>
        <p class="paragraph2">The fantastic people that makes Saufik's effect happen</p>
        <div class="mb-3"><button class="btn btn-primary py-3 btn-custom">Tech Meeting</button></div>
    </div>
    <div class="container mt-4 team-meeting section-bottom-outer-space position-relative d-flex flex-wrap justify-content-center align-items-center">
        <div class="team-cards-detail">
            <div class="team-card position-relative">
                <img class="profile-img" src="../../../../assets/images/team1.webp" alt="">
            </div>
            <div class="team-card-wrapper">
                <div class="team-detail">
                    <div class="team-card-person">
                        <p class="team-card-name mb-0 fw-6">
                            Adelly Lima
                        </p>
                        <p class="team-card-position mb-0 ">
                            Software Engineer
                        </p>
                    </div>
                    <div class="linkedin-detail">
                        <img src="../../../../assets/images/linkedin.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="team-cards-detail">
            <div class="team-card position-relative">
                <img class="profile-img" src="../../../../assets/images/team2.webp" alt="">
            </div>
            <div class="team-card-wrapper">
                <div class="team-detail">
                    <div class="team-card-person">
                        <p class="team-card-name mb-0 fw-6">
                            Adelly Lima
                        </p>
                        <p class="team-card-position mb-0 ">
                            Software Engineer
                        </p>
                    </div>
                    <div class="linkedin-detail">
                        <img src="../../../../assets/images/linkedin.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="team-cards-detail">
            <div class="team-card position-relative">
                <img class="profile-img" src="../../../../assets/images/team1.webp" alt="">
            </div>
            <div class="team-card-wrapper">
                <div class="team-detail">
                    <div class="team-card-person">
                        <p class="team-card-name mb-0 fw-6">
                            Adelly Lima
                        </p>
                        <p class="team-card-position mb-0 ">
                            Software Engineer
                        </p>
                    </div>
                    <div class="linkedin-detail">
                        <img src="../../../../assets/images/linkedin.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="team-cards-detail">
            <div class="team-card position-relative">
                <img class="profile-img" src="../../../../assets/images/team2.webp" alt="">
            </div>
            <div class="team-card-wrapper">
                <div class="team-detail">
                    <div class="team-card-person">
                        <p class="team-card-name mb-0 fw-6">
                            Adelly Lima
                        </p>
                        <p class="team-card-position mb-0 ">
                            Software Engineer
                        </p>
                    </div>
                    <div class="linkedin-detail">
                        <img src="../../../../assets/images/linkedin.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="team-cards-detail">
            <div class="team-card position-relative">
                <img class="profile-img" src="../../../../assets/images/team1.webp" alt="">
            </div>
            <div class="team-card-wrapper">
                <div class="team-detail">
                    <div class="team-card-person">
                        <p class="team-card-name mb-0 fw-6">
                            Adelly Lima
                        </p>
                        <p class="team-card-position mb-0 ">
                            Software Engineer
                        </p>
                    </div>
                    <div class="linkedin-detail">
                        <img src="../../../../assets/images/linkedin.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="team-cards-detail">
            <div class="team-card position-relative">
                <img class="profile-img" src="../../../../assets/images/team2.webp" alt="">
            </div>
            <div class="team-card-wrapper">
                <div class="team-detail">
                    <div class="team-card-person">
                        <p class="team-card-name mb-0 fw-6">
                            Adelly Lima
                        </p>
                        <p class="team-card-position mb-0 ">
                            Software Engineer
                        </p>
                    </div>
                    <div class="linkedin-detail">
                        <img src="../../../../assets/images/linkedin.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="team-cards-detail">
            <div class="team-card position-relative">
                <img class="profile-img" src="../../../../assets/images/team1.webp" alt="">
            </div>
            <div class="team-card-wrapper">
                <div class="team-detail">
                    <div class="team-card-person">
                        <p class="team-card-name mb-0 fw-6">
                            Adelly Lima
                        </p>
                        <p class="team-card-position mb-0 ">
                            Software Engineer
                        </p>
                    </div>
                    <div class="linkedin-detail">
                        <img src="../../../../assets/images/linkedin.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="team-cards-detail">
            <div class="team-card position-relative">
                <img class="profile-img" src="../../../../assets/images/team2.webp" alt="">
            </div>
            <div class="team-card-wrapper">
                <div class="team-detail">
                    <div class="team-card-person">
                        <p class="team-card-name mb-0 fw-6">
                            Adelly Lima
                        </p>
                        <p class="team-card-position mb-0 ">
                            Software Engineer
                        </p>
                    </div>
                    <div class="linkedin-detail">
                        <img src="../../../../assets/images/linkedin.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="team-cards-detail">
            <div class="team-card position-relative">
                <img class="profile-img" src="../../../../assets/images/team1.webp" alt="">
            </div>
            <div class="team-card-wrapper">
                <div class="team-detail">
                    <div class="team-card-person">
                        <p class="team-card-name mb-0 fw-6">
                            Adelly Lima
                        </p>
                        <p class="team-card-position mb-0 ">
                            Software Engineer
                        </p>
                    </div>
                    <div class="linkedin-detail">
                        <img src="../../../../assets/images/linkedin.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="team-cards-detail">
            <div class="team-card position-relative">
                <img class="profile-img" src="../../../../assets/images/team2.webp" alt="">
            </div>
            <div class="team-card-wrapper">
                <div class="team-detail">
                    <div class="team-card-person">
                        <p class="team-card-name mb-0 fw-6">
                            Adelly Lima
                        </p>
                        <p class="team-card-position mb-0 ">
                            Software Engineer
                        </p>
                    </div>
                    <div class="linkedin-detail">
                        <img src="../../../../assets/images/linkedin.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="team-cards-detail">
            <div class="team-card position-relative">
                <img class="profile-img" src="../../../../assets/images/team1.webp" alt="">
            </div>
            <div class="team-card-wrapper">
                <div class="team-detail">
                    <div class="team-card-person">
                        <p class="team-card-name mb-0 fw-6">
                            Adelly Lima
                        </p>
                        <p class="team-card-position mb-0 ">
                            Software Engineer
                        </p>
                    </div>
                    <div class="linkedin-detail">
                        <img src="../../../../assets/images/linkedin.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="team-cards-detail">
            <div class="team-card position-relative">
                <img class="profile-img" src="../../../../assets/images/team2.webp" alt="">
            </div>
            <div class="team-card-wrapper">
                <div class="team-detail">
                    <div class="team-card-person">
                        <p class="team-card-name mb-0 fw-6">
                            Adelly Lima
                        </p>
                        <p class="team-card-position mb-0 ">
                            Software Engineer
                        </p>
                    </div>
                    <div class="linkedin-detail">
                        <img src="../../../../assets/images/linkedin.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="team-cards-detail">
            <div class="team-card position-relative">
                <img class="profile-img" src="../../../../assets/images/team1.webp" alt="">
            </div>
            <div class="team-card-wrapper">
                <div class="team-detail">
                    <div class="team-card-person">
                        <p class="team-card-name mb-0 fw-6">
                            Adelly Lima
                        </p>
                        <p class="team-card-position mb-0 ">
                            Software Engineer
                        </p>
                    </div>
                    <div class="linkedin-detail">
                        <img src="../../../../assets/images/linkedin.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="team-cards-detail">
            <div class="team-card position-relative">
                <img class="profile-img" src="../../../../assets/images/team2.webp" alt="">
            </div>
            <div class="team-card-wrapper">
                <div class="team-detail">
                    <div class="team-card-person">
                        <p class="team-card-name mb-0 fw-6">
                            Adelly Lima
                        </p>
                        <p class="team-card-position mb-0 ">
                            Software Engineer
                        </p>
                    </div>
                    <div class="linkedin-detail">
                        <img src="../../../../assets/images/linkedin.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
