<div class="dev-background position-relative">
    <div class="background-overlay"></div>
    <div class="container banner-text d-flex align-items-center">
        <div class="mt-5">
            <p class="text-label mb-3 text-warning">[ Our Leadership ]</p>
            <h1 class="font-30">We believe in transforming not<br>only processes.</h1>
            <p>We create unique and fresh solutions.</p>
        </div>
    </div>
</div>
<div>
    <div class="history-values section-top-inner-space section-bottom-inner-space bg-light">
        <h1 class="section-title text-center mb-5">Our Leadership</h1>
        <div class="history-values-wrapper container d-flex justify-content-center flex-wrap">
            <div class="history-values-card-main">
                <div class="history-values-card bg-white history-values-card--left">
                    <div class="history-values-card-headline-col">
                        <h3 class="history-values-card-headline mb-3">
                            Moral Compass
                        </h3>
                        <p class="history-values-card-subheadline paragraph1">
                            We prioritize ethics and taking a stand against discrimination of any kind in our community.
                            We want the company, the team, and all of our clients to be on the same page about that.
                        </p>
                    </div>
                    <div class="history-values-card-icon history-values-card-left-icon">
                        <img src="../../../../assets/images/hand-icon.svg">
                    </div>
                </div>
            </div>
            <div class="history-values-card-main">
                <div class="history-values-card bg-white history-values-card--right">
                    <div class="history-values-card-headline-col">
                        <h3 class="history-values-card-headline mb-3">
                            Efficiency
                        </h3>
                        <p class="history-values-card-subheadline paragraph1">
                            We hold ourselves to high standards, striving for top notch performance and usability in
                            every feature until we find a solution that suits the project's needs.
                        </p>
                    </div>
                    <div class="history-values-card-icon history-values-card-right-icon">
                        <img src="../../../../assets/images/rocket.svg">
                    </div>
                </div>
            </div>
            <div class="history-values-card-main">
                <div class="history-values-card bg-white history-values-card-left">
                    <div class="history-values-card-headline-col">
                        <h3 class="history-values-card-headline mb-3">
                            Innovation
                        </h3>
                        <p class="history-values-card-subheadline paragraph1">
                            An intentional small team focused on crafting impactful upgrades to day-to-day processes,
                            product designs, and team dynamics that resonate throughout the project entirely.
                        </p>
                    </div>
                    <div class="history-values-card-icon history-values-card-left-icon">
                        <img src="../../../../assets/images/jupitor.svg">
                    </div>
                </div>
            </div>
            <div class="history-values-card-main">
                <div class="history-values-card bg-white history-values-card--right">
                    <div class="history-values-card-headline-col">
                        <h3 class="history-values-card-headline mb-3">
                            Clarity
                        </h3>
                        <p class="history-values-card-subheadline paragraph1">
                            Clear communication and active listening is key in every project we work on. We ensure
                            everyone stays informed and on the same page throughout the project.
                        </p>
                    </div>
                    <div class="history-values-card-icon history-values-card-right-icon">
                        <img src="../../../../assets/images/message-cloud.svg">
                    </div>
                </div>
            </div>
        </div>
        <div class="reason-wrapper container bg-primary text-white">
            <div class="mx-lg-5 px-5 d-flex justify-content-between flex-wrap">
                <h2 class="section-title">Why Saufik?</h2>
                <button class="btn btn-primary btn-custom bg-white text-primary border-white">Contact Us Today To Learn
                    More</button>
            </div>
            <div class="history-reason-blocks mx-5 px-lg-5 px-3 d-flex justify-content-between flex-wrap mt-5">
                <div class="history-reason-block-text">
                    <p class="history-reason-block-headline mb-2">
                        global expertise
                    </p>
                    <p class="history-reason-block-subheadline">
                        We have established successful partnerships with US-based companies for the past 8 years,
                        helping them scale their businesses and achieve their digital goals.
                    </p>
                </div>
                <div class="history-reason-block-text">
                    <p class="history-reason-block-headline mb-2">
                        Product Design
                    </p>
                    <p class="history-reason-block-subheadline ">
                        Design is the foundation of our product development, guiding creation with knowledge and
                        research to determine relevant features that meet user needs.
                    </p>
                </div>
                <div class="history-reason-block-text">
                    <p class="history-reason-block-headline mb-2">
                        custom solution
                    </p>
                    <p class="history-reason-block-subheadline">
                        Our experimentation is centered in creating unique solutions, always searching for the best one
                        in each project. We thrive in finding new ways to amaze our clients.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="team-mates section-top-inner-space">
    <div class="team-heading mx-lg-5 px-5 d-flex justify-content-center flex-column align-items-center flex-wrap">
        <h2 class="fw-9">Meet our team</h2>
       <p class="paragraph2">The fantastic people that makes Saufik's effect happen</p>
    </div>
</div>