<div class="footer-container">
    <div class="grid-x grid-margin-x d-flex container flex-wrap">
        <div class="large-3 medium-12 cell d-flex flex-column">
            <div class="footer__logo">
                  <img src="../../../assets/images/logo.png" alt="">       
            </div>

            <div class="footer__description mt-3">
                <p>The Technocenter, Coventry University Technology Park, Puma Way,<br> Coventry CV1 2TT</p>
            </div>

            <div class="footer__phone">
                <a href="tel:02476158240">
                    024 7615 8240 </a>
            </div>

            <div class="footer__mail">
                <a href="" target="_blank">
                    info@saufik.com</a>
            </div>
        </div>

        <div class="large-2 medium-12 cell">
            <div class="footer__useful d-flex flex-column">
                <h5>Useful Links</h5>
                <a class="footer__useful-link" href="" target="_self">
                    Home </a>
                <a class="footer__useful-link" href="" target="_self">
                    Accessibility </a>
                <a class="footer__useful-link" href="" target="_self">
                    Cookies Explained </a>
                <a class="footer__useful-link" href="" target="_self">
                    Privacy Policy </a>
            </div>
        </div>

        <div class="large-2 medium-12 cell">
            <div class="footer__company d-flex flex-column">
                <h5>Company</h5>
                <a class="footer__company-link" href="" target="_self">
                    About Us </a>
                <a class="footer__company-link" href="" target="_self">
                    Case Studies </a>
                <a class="footer__company-link" href="" target="_self">
                    News </a>
                <a class="footer__company-link" href="" target="_self">
                    Careers </a>
            </div>
        </div>

        <div class="large-2 medium-12 cell">
            <div class="footer__social d-flex flex-column">
                <h5>Social</h5>
                <a class="footer__social-link" href="" target="_blank">
                    <i><i class="fab fa-facebook-square" aria-hidden="true"></i></i>
                    Facebook </a>
                <a class="footer__social-link" href="" target="_blank">
                    <i><i class="fab fa-twitter-square" aria-hidden="true"></i></i>
                    Twitter </a>
                <a class="footer__social-link" href="" target="_blank">
                    <i><i class="fab fa-linkedin" aria-hidden="true"></i></i>
                    Linkedin </a>
            </div>
        </div>
    </div>
    <div class="footer__copy pt-5 pb-4 text-center">
        <div class="grid-container">
            <div class="grid-x">
                <div class="small-12 cell">
                    <p class="mb-0">© 2023 SAUFIK – Mobile Apps, Software Development, Web Design</p>
                </div>
            </div>
        </div>
    </div>
</div>