@import "../../../assets/variable";
.footer-container {
 position: relative;
 &::before{
  content: '';
  background-image:url("../../../assets/images/footerimg.png") !important;
  background-repeat: no-repeat !important;
  background-position: left;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .1;
 }
    background: linear-gradient(90deg,#071c4d,#002d97)!important;
    a {
        text-decoration: none;
    }

    padding-top: 80px;

    .footer__logo {
        img {
            max-width: 180px;
        }
    }
    .large-3.medium-12.cell{
        width: calc(25% - 1.875rem);
    }
    .large-2.medium-12.cell{
        width: calc(16.6666666667% - 1.875rem);
    }
    .grid-margin-x>.cell{
        margin-left: 0.9375rem;
    margin-right: 0.9375rem;
    }
    .footer__description, .footer__useful, .footer__company, .footer__social,.footer__phone,.footer__mail{
        a, p{
            font-size: 14px;
            color: #ffffff;
            display: block;
            margin-bottom: 13px;
            font-weight: 500;
        }
        a:hover{
            color: $primaryColor;
        }
        h5{
            font-size: 18px;
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 30px;
        }

    }
    .small-12{
        font-size: 14px;
        color: #ffffff;
        font-weight: 500;
    }
    .footer__social{
        i{
            font-size: 22px;
    margin-right: 5px;
        }
    }

}
@media (max-width: 1024px){
    .footer-container{
        text-align: center;
        .large-3.medium-12.cell{
            width: 100%;
        }
        .large-2.medium-12.cell{
            width: 100%;
        }
        &::before{
            background-position: bottom;
        }
    }

}
